.fondo{
	background: blue;
	width: 330px
}

h1{
	color: green;
	width: 300px
}
h2{
	color: red
}
.rosado{
	background: pink;
	width: 300px 
	
}
.rosado{
	color: blue
}
h1{
	background: yellow
}
.fondox{
	background: green
}